@using MVCDemoA.Models
@model Member


@{
    ViewBag.Title = "Action6";
}

<h2>Action6</h2>
<p>@ViewBag.Message</p>
@*@Model.MembershipID - @Model.FirstName @Model.LastName*@
@Html.Partial("_Member", Model)
